<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:mendes="http://mendes.frigorifico.com"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	
	<title>Pesquisa de Usuários</title>
			
</head>

<body>

	<div layout:fragment="conteudo">
	
		<h1 class="h3 mb-3 text-gray-800 text-center">Pesquisa de Usuários</h1>	
		
		<form method="GET" th:object="${usuarioFilter}" th:action="@{/usuarios}">
			<div class="row">
				<div class="col-sm-6 form-group">
		           <label class="control-label font-weight-bold" for="nome">Nome</label>
		           <input type="text" class="form-control" th:field="*{nome}" placeholder="Digite o nome">
		           <small class="form-text text-muted"></small>
		        </div>
		        			
				<div class="col-sm-6 form-group">
		           <label class="control-label font-weight-bold" for="email">Email</label>
		           <input type="email" class="form-control" th:field="*{email}" placeholder="Digite o email">
		           <small class="form-text text-muted"></small>
		        </div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-12">
					<label class="control-label font-weight-bold">Grupos</label> 
					<div>
						<th:block th:each="grupo : ${grupos}">
	  						<div class="checkbox  checkbox-inline"> 
		    					<input type="checkbox" th:value="${grupo.codigo}" th:field="*{grupos}"/>
		    					<label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">Administrador</label>
	    					</div>
	    				</th:block>
					</div>
  				</div>
			</div>
			
			<button type="submit" class="btn btn-primary btn-sm mb-3">Pesquisar</button>
			
		</form>
		
		<div class="mb-3">
			<button class="btn btn-secondary btn-sm js-status-btn" data:status="ATIVAR" data:url="@{/usuarios/status}">
				<span>Ativar</span>
			</button>
			
			<button class="btn btn-secondary btn-sm js-status-btn" data:status="DESATIVAR" data:url="@{/usuarios/status}">
				<span>Desativar</span>
			</button>
		</div>

		<div class="table-responsive">
	    	<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	            <thead>
	            	<tr>
	            		<th class="text-center">
	            			<div class="checkbox">
	            				<input type="checkbox" class="js-selecao-todos">
	            				<label></label>
	            			</div>
	            		</th>
	            		<th class="text-center">Nome</th>
	                	<th class="text-center">E-mail</th>
	                	<th class="text-center">Grupo</th>
	                	<th class="text-center">Status</th>
	                 	<th class="text-center">Ações</th>
					</tr>
				</thead>
			
	            <tbody>
					<tr th:each="usuario : ${pagina.conteudo}">
						<td class="text-center">
							<div class="checkbox" th:if="${#authentication.principal.usuario.codigo != usuario.codigo}">
	            				<input type="checkbox" class="js-selecao" data:codigo="${usuario.codigo}">
	            				<label></label>
	            			</div>
						</td>
						<td class="text-center" th:text="${usuario.nome}"></td>
						<td class="text-center" th:text="${usuario.email}"></td>
						<td class="text-center">
							<span th:each="grupo : ${usuario.grupos}" th:text="|${grupo.nome}${grupoStat.last ? '' : ', '}|"></span>
						</td>
						<td class="text-center">
							<th:block th:if="${usuario.ativo}">
								<span class="badge badge-success">Ativo</span>
							</th:block>
							<th:block th:if="${not usuario.ativo}">
								<span class="badge badge-danger">Inativo</span>
							</th:block>
						</td>
	                 	<td class="text-center">
							<a>
								<button type="button" class="btn btn-primary btn-sm">
							        <i class="fas fa-edit"></i>
							    </button>
							</a>
							<a>
							    <button type="button" class="btn btn-secondary btn-sm">
							        <i class="fas fa-trash"></i>
							    </button>
							</a>
						</td>
	                </tr>
	                
	                <tr th:if="${pagina.vazia}">
	                	<td class="text-center" colspan="6">Nenhum usuário encontrado</td>
	                </tr>
	             </tbody>
         	</table>
         	
         	<mendes:pagination page="${pagina}"/>
         	
    	 </div>
    	 	
	</div>

<th:block layout:fragment="javascript-extra">

	<script th:src="@{/javascripts/multiselecao.js}"></script>
	
</th:block>

</body>

</html>
