<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Portaria - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/layout/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/layout/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/stylesheets/mendes.css}" rel="stylesheet">
  
  <!-- Date picker-->
  <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-datepicker.standalone.min.css}"/>
  
  <!-- Icon Favicon-->
  <link rel="shortcut icon" th:href="@{/images/eye-blue.png}"/>

</head>

<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
<input type="hidden" name="_csrf_header" th:value="${_csrf.headerName}"/>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
  
  <!-- Menu Lateral -->
  <div th:replace="layout/fragments/MenuLateral :: layout-sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
    
    <!-- Barra de Navegação -->    	
     <div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>       

      <!-- Main Content -->
      <div id="content">      

	    <!-- container-fluid -->
	    <div class="container-fluid" layout:fragment="conteudo">	    
			
	    </div>
	    <!-- /.container-fluid -->         

      </div>
      <!-- End of Main Content --> 
     
     <!-- Footer -->
     <div th:replace="layout/fragments/Footer :: layout-footer"></div>   

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
	  <i class="fas fa-angle-up"></i>
	</a>

  <div th:replace="layout/fragments/ModalLogout :: modal-logout"></div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/layout/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/layout/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  

  <!-- Core plugin JavaScript-->
  <script th:src="@{/layout/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/layout/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/layout/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/layout/js/demo/chart-area-demo.js}"></script>
  <script th:src="@{/layout/js/demo/chart-pie-demo.js}"></script>
  
  <script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
  <script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>
  <script th:src="@{/javascripts/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
    
  <script th:src="@{/javascripts/mendes.js}"></script>
    
  <!-- JavaScript Extra -->
  <th:block layout:fragment="javascript-extra"></th:block>

</body>

</html>