<!DOCTYPE html>
<html lang="pt-br" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/LayoutPadrao" 
    xmlns:mendes="http://mendes.frigorifico.com">

<head>

    <title>Cadastro de Visitante</title>

    <link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}" />
    <link th:href="@{/layout/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body>

    <div layout:fragment="conteudo">

        <div class="offset-sm-5 d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Cadastro de Visitante</h1>
        </div>
        <br>

        <form th:object="${visitante}" th:action="@{/visitantes/novo}" method="post">

            <mendes:message />

            <div class="row">
                <div class="col-sm-4 form-group ms-required">
                    <label class="control-label font-weight-bold" for="nome">Nome</label>
                    <input type="text" class="form-control" th:field="*{nome}" aria-describedby="nome"
                        placeholder="Digite o nome">
                    <small class="form-text text-muted"></small>
                </div>
                <div class="col-sm-4 form-group ms-required">
                    <label class="control-label font-weight-bold" for="rg">RG</label>
                    <input type="text" class="form-control" th:field="*{rg}" aria-describedby="rg"
                        placeholder="Digite o RG">
                    <small id="rg" class="form-text text-muted"></small>
                </div>
                <div class="col-sm-4 form-group ms-required">
                    <label class="control-label font-weight-bold" for="cpf">CPF</label>
                    <input type="text" class="form-control cpf" th:field="*{cpf}" aria-describedby="cpf"
                        placeholder="Digite o CPF">
                    <small class="form-text text-muted"></small>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group ms-required">
                    <label class="control-label font-weight-bold" for="telefone">Telefone</label>
                    <input type="text" class="form-control telefone" th:field="*{telefone}" aria-describedby="telefone"
                        placeholder="Digite o telefone">
                    <small id="telefone" class="form-text text-muted"></small>
                </div>
                <div class="col-sm-6 form-group ms-required">
                    <label class="control-label font-weight-bold" for="empresa">Empresa</label>
                    <input type="text" class="form-control" th:field="*{empresa}"
                        placeholder="Digite o nome da empresa">
                    <small class="form-text text-muted"></small>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-group port-required">
                    <label class="control-label font-weight-bold">Foto</label>

                    <div class="js-container-foto-veiculo" th:attr="data-url-fotos=@{/fotos}">
                        <div id="upload-drop" class="ms-upload">
                            <i class="fa fa-upload"></i>
                            <span>Arraste a foto aqui ou </span>
                            <a class="ms-upload-form-file" id="ms-upload-color">selecione <input id="upload-select"
                                    type="file" accept=".jpg,.jpeg,.png" /></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" align="center">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fas fa-check"></i> Salvar
                </button>
                <button type="submit" class="btn btn-secondary btn-sm">
                    <i class="fas fa-undo-alt"></i> Voltar
                </button>
            </div>

        </form>

        <th:block th:replace="hbs/FotoVeiculo"></th:block>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Conteúdo da Tabela</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center">Foto</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">RG</th>
                                <th class="text-center">CPF</th>
                                <th class="text-center">Telefone</th>
                                <th class="text-center">Empresa</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="visitante : ${conteudo}">
                                <td class="text-center table-veiculos-col-foto">
                                    <img th:src="@{/fotos/thumbnail.{foto}(foto=${visitante.fotoOuMock})}"
                                        class="img-thumbnail" />
                                </td>
                                <td class="text-center" th:text="${visitante.nome}"></td>
                                <td class="text-center" th:text="${visitante.rg}"></td>
                                <td class="text-center" th:text="${visitante.cpf}"></td>
                                <td class="text-center" th:text="${visitante.telefone}"></td>
                                <td class="text-center" th:text="${visitante.empresa}"></td>
                                <td class="text-center">
                                    <a>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </a>
                                    <a>
                                        <button type="button" class="btn btn-secondary btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>

    <th:block layout:fragment="javascript-extra">
        <script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
        <script th:src="@{/javascripts/vendors/upload.min.js}"></script>
        <script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
        <script th:src="@{/javascripts/veiculo.upload-foto.js}"></script>        
        <script th:src="@{/layout/vendor/datatables/jquery.dataTables.min.js}"></script>
  		<script th:src="@{/layout/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
  		<script th:src="@{/layout/js/demo/datatables-demo.js}"></script>
    </th:block>

</body>

</html>