<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:mendes="http://mendes.frigorifico.com">

<head>
	
	<title>Cadastro de Motorista</title>
	
</head>

<body>

	<div layout:fragment="conteudo">
	
		<div class="offset-sm-4 d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Cadastro de Motorista</h1>				
		</div>
		<br>	
			
		<form action="" method="post">
		
			<div class="row">
			    <div class="col-sm-6 form-group ms-required">
			        <label class="control-label font-weight-bold" for="nome">Nome</label>
			        <input type="text" class="form-control" id="" placeholder="Digite o nome">
			        <small id="nome" class="form-text text-muted"></small>
			    </div>
			    <div class="col-sm-6 form-group ms-required">
			        <label class="control-label font-weight-bold" for="telefone">Telefone</label>
			        <input type="text" class="form-control telefone" placeholder="Digite o telefone">
			        <small id="telefone" class="form-text text-muted"></small>
			    </div>
			</div>

			<div class="row">
			    <div class="col-sm-3 form-group ms-required">
			        <label class="control-label font-weight-bold" for="rg">RG</label> 
			        <input type="text" class="form-control" id="rg" placeholder="Digite o rg">
			        <small id="rg" class="form-text text-muted"></small>
			    </div>
			    <div class="col-sm-2 form-group ms-required">
			        <label class="control-label font-weight-bold" for="orgao">Orgão Expedidor</label> 
			        <input type="text" class="form-control letras" id="orgao" placeholder="Orgão expedidor">
			        <small id="rg" class="form-text text-muted"></small>
			    </div>
			    <div class="col-sm-3 form-group ms-required">
			        <label class="control-label font-weight-bold" for="cpf">CPF</label>
			        <input type="text" class="form-control" id="" placeholder="Digite o cpf" data-mask="000.000.000-00">
			        <small class="form-text text-muted"></small>
			    </div>
			    <div class="col-sm-4 form-group ms-required">
			        <label class="control-label font-weight-bold" for="transportadora">Transportadora</label>
			        <select class="form-control">
			            <option value="0">Selecione uma Transportadora</option>            
			        </select>
			    </div>
			</div>		
			
			<div class="form-group" align="center">
				<button type="submit" class="btn btn-primary btn-sm">
					<i class="fas fa-check"></i> Salvar
				</button>
				<button type="submit" class="btn btn-secondary btn-sm">
					<i class="fas fa-undo-alt"></i> Voltar
				</button>			
			</div>   	
			
		</form>
		
	</div> 

</body>

</html>
