<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:mendes="http://mendes.frigorifico.com">

<head>
	
	<title>Cadastro de Veículo</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	
</head>

<body>

	<div layout:fragment="conteudo">
	
		<div class="offset-sm-5 d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Cadastro de Veículo</h1>				
		</div>
		<br>
			
		<form th:object="${veiculo}" action="" method="post">
			
			<mendes:message/>
				
			<div class="row">
				<div class="col-sm-4 form-group ms-required" mendes:classforerror="placa">
					<label class="control-label font-weight-bold" for="placa">Placa</label>
					<input type="text" class="control-label form-control placa" id="placa" th:field="*{placa}">
					<small class="form-text text-muted"></small>
				</div>
				<div class="col-sm-4 form-group ms-required" mendes:classforerror="modelo">
					<label class="control-label font-weight-bold" for="modelo">Modelo do Veículo</label>
					
					<div class="ms-field-action"> 
						<select id="modelo" class="form-control" th:field="*{modelo}">
							<option th:each="modelo : ${modelos}" th:value="${modelo.codigo}" th:text="${modelo.nome}">Selecione um Modelo</option>				
						</select>
						
						<div class="ms-field-action-icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoModelo">
								<i class="fa fa-plus-square ms-icon-large" aria-hidden="true"></i>
							</a>
						</div>
					</div>							
				</div>
				<div class="col-sm-4 form-group ms-required">
					<label class="control-label font-weight-bold" for="transportadora">Transportadora</label>
					<select class="form-control" th:field="*{transportadora}">
						<option value="">Selecione uma Transportadora</option>
						<option th:each="transportadora : ${transportadoras}" th:value="${transportadora.codigo}" th:text="${transportadora.nome}"></option>				
					</select>
				</div>           
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group port-required">
				<label class="control-label font-weight-bold">Foto</label>
					
					<div class="js-container-foto-veiculo" th:attr="data-url-fotos=@{/fotos}">	
						<div id="upload-drop" class="ms-upload">
							<i class="fa fa-upload"></i>
							<span>Arraste a foto aqui ou </span>
							<a class="ms-upload-form-file" id="ms-upload-color">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
						</div>
					</div>			
				</div>			
			</div>
					
			<div class="form-group" align="center">
				<button type="submit" class="btn btn-primary btn-sm">
					<i class="fas fa-check"></i> Salvar
				</button>
				<button type="submit" class="btn btn-secondary btn-sm">
					<i class="fas fa-undo-alt"></i> Voltar
				</button>			
			</div>   	
			
		</form>
		
	<div th:replace="modelo/CadastroRapidoModelo :: modal"></div>
	<th:block th:replace="hbs/FotoVeiculo"></th:block>
	
	</div>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/modelo.cadastro-rapido.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/veiculo.upload-foto.js}"></script>		
</th:block>

</body>

</html>
