<!DOCTYPE html>
<html lang="pt-br"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:mendes="http://mendes.frigorifico.com">
<head>

<meta charset="utf-8">
<title>Erro ao acessar o Servidor</title>
</head>
<body>

	<!-- Page Content -->
	<div layout:fragment="conteudo">

		 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text=""><i class="fa fa-exclamation-triangle"></i></div>
            <p class="lead text-gray-800 mb-4">Erro ao acessar o Servivor!</p>
            <p class="text-gray-500 mb-0">Desculpe, algo muito estranho aconteceu e não conseguimos processar a sua requisição.</p> 
            <p class="text-gray-500 mb-0">Tente novamente ou entre em contato com a equipe de suporte.</p>
            <a href="javascript:history.back()">&larr; Voltar para a página inicial</a>
          </div>

        </div>
        <!-- /.container-fluid -->

	</div>

</body>

</html>