<!DOCTYPE html>
<html lang="pt-br" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/LayoutPadrao" 
    xmlns:mendes="http://mendes.frigorifico.com"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>Dashboard</title>


</head>

<body>

    <div layout:fragment="conteudo">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total de Veículos
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">[[${veiculosNoAno}]]</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-truck fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Veículos no Mês
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">[[${veiculosNoMes}]]</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-bus fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total de Visitantes
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">[[${visitantesNoAno}]]</div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-users fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Visitantes no Mês
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">[[${visitantesNoMes}]]</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-male fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Row -->

        <div class="row">

            <!-- Area Chart -->
             <div class="col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Gráfico de Veículos</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-bar">
                            <canvas id="graficoMovimentacaoPorMes"></canvas>
                        </div>                    
                    </div>
                </div>
            </div>

            <!-- Bar Chart -->
            <div class="col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Gráfico de Visitantes</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart-bar">
                            <canvas id="graficoControlePorMes"></canvas>
                        </div>	                      
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/Chart.min.js}"></script>
	<script th:src="@{/javascripts/dashboard.graficos.js}"></script>
	<script th:src="@{/javascripts/dashboard.graficos-visitantes.js}"></script>
</th:block>

</html>